python3.7 -m pip install imutils==0.5.4
python3.7 -m pip install opencv-python==4.6.0.66
python3.7 -m pip install opencv-contrib-python==4.1.1.26
python3.7 -m pip install numpy==1.21.2
python3.7 -m pip install matplotlib
python3.7 -m pip install pybind11==2.10.0



